.stApp {
  background: linear-gradient(135deg, #eb8722 0%, #bce7f9 50%, #e031ed 100%);
  min-height: 100vh;
  font-family: 'segoe UI', sans-serif;
}

.card {
  background-color: burlywood;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px tomato;
  margin-bottom: 25px;
}

h1, h2, h3 {
  color: blueviolet;
}

div[data-testid="metric-cont"] {
  background-color: beige;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.prediction-box {
  background: linear-gradient(135deg, #d1cfe7, #bbf7d0);
  padding: 22px;
  border-radius: 14px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #0f84de;
}